<div class="top-menu">

  <img class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

  </div>
  @defer {
    <div class="courses" *ngIf="courses$ | async as courses">

      @for (course of courses; track course) {
        <course-card
          [course]="course"
          (courseChanged)="save($event)">
          <course-image [src]="course.iconUrl"></course-image>
      </course-card>
    }

  </div>
  }
  @placeholder (minimum 3s){
    <div>
     <h2>This is a placeholder for the courses section</h2>
    </div>

  }




